In [1]:
l=[]
l

[]

In [2]:
l=[1,2,4,5,5]
l

[1, 2, 4, 5, 5]

In [3]:
l=[1,3,4,5,6,7,'hello']
l

[1, 3, 4, 5, 6, 7, 'hello']

In [12]:
l=['aman',2,[34,56,78],'m']
l[2]
l[-2]
l[3]
l[0:3]
l[2][1]
l[2][2]

78

In [14]:
l=[[1,2,3],[4,5,6]]
l[1][2]

6

In [17]:
l=[[[1,2],[40,50]],[[4,5],[100,200]]]
l[0][1][1]
l[1][1][1]

200

In [18]:
l1=[1,2,3,'madrid','hello',[49,98,87,100,110]]
l1[5][1:4]

[98, 87, 100]

In [19]:
l=list('123')
print(l)

['1', '2', '3']

In [21]:
l=[1,2,4,6]
l[-2]=100
print(l)

[1, 2, 100, 6]

In [23]:
l=[1,2,4,6]
l[0:4]=68,303,2993,2302
print(l)

[68, 303, 2993, 2302]

In [24]:
l=[1,2,4,6]
l.append('hello')
print(l) # we just add append at the last

[1, 2, 4, 6, 'hello']

In [29]:
l=[1,2,4,6]
l1=['ayush','bansal']
l.extend(l1)
print(l)

[1, 2, 4, 6, 'ayush', 'bansal']

In [35]:
l1=[1,2,3,4]
l.insert(2,100)
print(l)

[1, 2, 100, 100, 100, 100, 100, 4, 6, 'ayush', 'bansal']

In [39]:
l=[1,23,4,4,4,]
del l[3]
print(l)

[1, 23, 4, 4]

In [46]:
l1=[1,2,3,4]
del l1

In [47]:
l=[1,2,4,67,7]
l.pop()

7

In [50]:
l=[1,2,4566,7,8,88,]
l.remove(88)
print(l)

[1, 2, 4566, 7, 8]

In [51]:
l=[4,5,67,8,8,543]
l.clear()
print(l)

[]

In [52]:
l=[1,2,4566,7,8,88,]+[4,5,67,8,8,543]
print(l)

[1, 2, 4566, 7, 8, 88, 4, 5, 67, 8, 8, 543]

In [53]:
l=[4,5,67,8,8,543]*5
print(l)

[4, 5, 67, 8, 8, 543, 4, 5, 67, 8, 8, 543, 4, 5, 67, 8, 8, 543, 4, 5, 67, 8, 8, 543, 4, 5, 67, 8, 8, 543]

In [56]:
l=[4,5,67,8,[8,543]]
[8,543] in l

True

In [57]:
#wap a program to display all the even no of the list in a new list - hint append

In [1]:
#wap program to display the list type of the corresponding element -hint type

In [17]:
l=(1,2,3,4,5,6,7,8,9,10)
h=[3,56,7,8,9,6,6,6]
for i in l:
    if i%2==0:
        h.append(i)
print(h)

[3, 56, 7, 8, 9, 6, 6, 6, 2, 4, 6, 8, 10]

In [26]:
l=[1,2,3,4,5,6,7,8,9,10]
k=(1,2,3,4,5,6,7,8,9,10)
j=('1,2,3,4,5,6,7,8,9,10')
h=(1)
y=(33090.99)
print(type(l))
print(type(k))
print(type(j))
print(type(h))
print(type(y))

<class 'list'>
<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'float'>

In [1]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
l=[100,132,121]
len(l)

3

In [4]:
l=[100,132,121]
max(l)

132

In [11]:
l='catbatmat'
sorted(l)

['a', 'a', 'a', 'b', 'c', 'm', 't', 't', 't']

In [14]:
l=[100,132,121]
sorted(l,reverse=True)

[132, 121, 100]

In [16]:
l.sort(reverse=True)

In [17]:
l=['ajjjdjadd','jnndddqd','ndqdqqqd']
min(l)

'ajjjdjadd'

In [19]:
l=[-1,9818,198491]
l.reverse()
print(l)

[198491, 9818, -1]

In [21]:
l1=['he','we']
l2=['re','learn','on']
l=['here','herelearn','heon','we learn','we on','phython','pylearn','pyon']
for i in l1:
    for k in l2:
        l.append(i+k)
print(l)

['here', 'herelearn', 'heon', 'we learn', 'we on', 'phython', 'pylearn', 'pyon', 'here', 'helearn', 'heon', 'were', 'welearn', 'weon']

In [22]:
#list compresion
l1=['he','we']
l2=['re','learn','on']
l=['learn','we learn','phython']

In [23]:
l=[1,2,3,4,5]
l1=['one','two','three','four','five']
list(zip(l,l1))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [24]:
l1=['he','we']
l2=['re','learn','on']
l=['learn','we learn','phytho']
list(zip(l1,l2,l))

[('he', 're', 'learn'), ('we', 'learn', 'we learn')]

In [26]:
l1='ayush'
l='anuj'
l2=list(zip(l,l1))
l2[2][1]

'u'

In [32]:
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [40]:
[i for i in range(1,10) if i%2==0]

[2, 4, 6, 8]

In [41]:
[i if i%2==0  else 'odd' for i in range (1,11)]

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [43]:
['yes it present' for i in l if i==[5,6,7]]

[]

In [ ]:
# write a program to display the smallest element in the list

In [14]:
l=input('enter no:').split(',')
sum=l[0]
for i in l:
    if i<sum:
        sum=i
print(sum)

enter no:3,5,6,6
3

In [4]:
l=[1,3,4,6,3,6,1]
unique_list=[]
for i in  l:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

[1, 3, 4, 6]

In [ ]:
wap to remove reapeat element

In [62]:
l=[1,4,5,6,6,6,7]
for i in l:
    if i==6:
        l.remove(i)
print(l)

[1, 4, 5, 6, 7]

In [8]:
# Write a Python program to sum all the items in a list
l=[1,3,4,6,3,6,1]
x=0
for i in l:
    x=x+i
print('Total',x)

Total 24

In [15]:
# Write a Python program to get the smallest number from a list
l=input('enter no').split(',')
x=l[0]
for i in l:
    if i<x:
        x=i
print(x,'is smallest')

enter no3,5,6,7
3 is smallest

In [16]:
#Write a program to find unique elements of string specified by user and display unique elements in list
l=input('enter the string')
x=[]
for i in l:
    if i not in x:
        x.append(i)
print(x)

enter the stringmy name is ayush
['m', 'y', ' ', 'n', 'a', 'e', 'i', 's', 'u', 'h']

In [49]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
 ##['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
##['Green', 'White', 'Black']
l= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
x=[]
for  i in l[1],l[2],l[3]:
    if i not in x:
        x.append(i)
print(x)

['Green', 'White', 'Black']

In [4]:
# Write a program to display all the elements of odd position.
x=input('enter string')
l=x[::2]
print(l)

enter stringayush
auh

In [5]:
#Write a Python program to convert a string to a list.
x=input('enter string')
l=list(x)
print(l)

enter stringayush
['a', 'y', 'u', 's', 'h']

In [9]:
#Write a Python program to insert an element at a specified position into a given list.
#Original list:
#[1, 1, 2, 3, 4, 4, 5, 1]
#After inserting an element at kth position in the said list:
#[1, 1, 12, 2, 3, 4, 4, 5, 1]

z=[1, 1, 2, 3, 4, 4, 5, 1]
z.insert(2,15)
print(z)

[1, 1, 15, 2, 3, 4, 4, 5, 1]

In [11]:
#How to reverse the List using slice
z=[1, 1, 2, 3, 4, 4, 5, 1]
l=z[::-1]
print(l)

[1, 5, 4, 4, 3, 2, 1, 1]

In [12]:
x=input('enter the string')
z=x[::-1]
print(z)

enter the stringayush
hsuya

In [21]:
#Program to convert a list into string
x=['a', 'y', 'u', 's', 'h']
z=''.join(x)
print(z)

ayush

In [23]:
# How to get the square of each list element 
x=[5, 4, 4, 3, 2, 7, 9]
z=[]
for i in x:
    if i not in z:
        z.append(i**2)
print(z)

[25, 16, 16, 9, 4, 49]

In [24]:
#How to Filter even values from a list using list comprehension
x=[2,4,7,12,5,48,31]
[i for i in x if i%2==0]

[2, 4, 12, 48]

In [38]:
#How to remove elements in a list before a specific index
k=[2,4,7,12,5,48,31]
k.pop(4)
print(k)

[2, 4, 7, 12, 48, 31]

In [42]:
#Write a Python program to multiply all the items in a list.
k=[2,4,7,12,5,48,31]
x=1
for i in k:
    x=x*i
print('total',x)

total 4999680

In [46]:
#Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.
#Sample List : ['abc', 'xyz', 'aba', '1221']
l=['abc', 'xyz', 'aba', '1221']
x=0
for i in l:
    if len(i)>1 and i[0]==i[-1]:
        x=x+1
print(x)

2

In [61]:
#Write a Python program to clone or copy a list
k=[2,4,7,12,5,48,31]
x=k
print(x)
print(k)

[2, 4, 7, 12, 5, 48, 31]
[2, 4, 7, 12, 5, 48, 31]

In [70]:
#Write a Python program to find the list of words that are longer than n from a given list of words. 
x=int(input('enter length:'))
l=['here','herelearn','heon','welearn','weon','phython','pylearn','pyon']
for i in l:
    if len(i)>x:
        print(i)

enter length:3
here
herelearn
heon
welearn
weon
phython
pylearn
pyon

In [93]:
#Write a Python function that takes two lists and returns True if they have at least one common member
l=['here','herelearn','heon','welearn','weon','phython','pylearn','pyon']
x=['here','herlearn','heon','weearn','won','phyhon','pylean','pon']
k=[]
for i in l:
    for z in x:
        if i==z:
            y=i==z
            print(y,i,end=' ')

True here True heon

In [100]:
#Write a Python program to print the numbers of a specified list after removing even numbers from it.
k=[2,4,7,12,5,48,31]
x=[]
for i in k:
    if i%2!=0:
        x.append(i)
print(x)

[7, 5, 31]

In [125]:
#indexing by input
x=int(input('enter index:'))
l=['here','herelearn','heon','welearn','weon','phython','pylearn','pyon']
x=l[x]
x

enter index:1

'herelearn'

In [127]:
#Write a Python program to remove duplicates from a list of lists
x=[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
z=[]
for i in x:
    if i not in z:
        z.append(i)
print(z)

[[10, 20], [40], [30, 56, 25], [33]]