In [10]:
c=0
list=[1,2,3,4,5,6,7,8,9,]
for i in list:
    i=int(i)
    if i%7==0:
        c=c+1
if c>0:        
    print(i,':no list is lucky')
else:
    print(i,':no list is not lucky')

9 :no list is lucky

In [12]:

n=int(input('enter no:'))
k=0
for i in range (1,n+1):
    k=k+i
    n=n+1
print(k,':is the sum of enter no')

enter no:5
15 :is the sum of enter no

In [39]:
z=0
while z<11:
    print(z,':whole no')
    z=z+1
k=1
while k<11:
    print(k,':natural no')
    k=k+1
j=21
y=0
p=0
while p<j:
    p=p+1
    y=y+1
    if y%2==0:
        print(y,'even')
u=21
r=0
w=0
while w<u:
    r=r+1
    w=w+1
    if r%2!=0:
        print(r,'odd')

0 :whole no
1 :whole no
2 :whole no
3 :whole no
4 :whole no
5 :whole no
6 :whole no
7 :whole no
8 :whole no
9 :whole no
10 :whole no
1 :natural no
2 :natural no
3 :natural no
4 :natural no
5 :natural no
6 :natural no
7 :natural no
8 :natural no
9 :natural no
10 :natural no
2 even
4 even
6 even
8 even
10 even
12 even
14 even
16 even
18 even
20 even
1 odd
3 odd
5 odd
7 odd
9 odd
11 odd
13 odd
15 odd
17 odd
19 odd
21 odd

In [47]:
n=1
while n<11:
    print('square of',n,'is',n**2)
    n=n+1

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81
square of 10 is 100

In [49]:
for i in range (10,310,10):
    print(i)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [51]:
for i in range (105,0,-7):
    print(i)

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [64]:
k=int(input('enter no of term:'))
n=0
sum=0
while n<k:
    i=int(input('enter no:'))
    sum=sum+i
    n=n+1
print(sum,'Total')

enter no of term:3
enter no:1
enter no:4
enter no:6
11 Total

In [16]:
sum=0
sub=0
i=1
while i!=0:
    i=int(input('enter no:'))
    if i<0:
        sum=sum+i
    else:
        sub=sub+i
print('negative sum:',sum)
print('positive sum:',sub)

enter no:-3
enter no:4
enter no:5
enter no:0
negative sum: -3
positive sum: 9

In [77]:
for i in range(100,500):
    if i%13==0 and i%3!=0:
        print(i)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [84]:
n=1
x=int(input('enter no of term'))
while n<x:
    print(n**2)
    n=n+1

enter no of term10
1
4
9
16
25
36
49
64
81

In [8]:
for i in range (2000,3201):
    if i%7==0 and i%5!=0:
            print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [1]:
values = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        values.append(s)
print(",".join(values))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

In [23]:
attempts=0
x=1
while x>0:
    username=input('username:')
    password=input('password:')
    if username=='ayushbansal'and password=='12345':
        print('welcome to the website')
        break
    else:
        attempts+=1
        print('incorrect!')
        if attempts==5:
            print('too many failed attempts try next time ')
            break

username:ayushbansal
password:12345
welcome to the website

IndentationError: expected an indented block (1512157652.py, line 12)

In [18]:
n=int(input('enter no:'))
sum=0
temp=sum
while number>0:
    y=number%10
    sum=sum+y**3
    number//=10
if n==sum:
    print(n,'no is armstrong ')
else:
    print(n,'no is not armstrong ')

enter no:221
221 no is not armstrong

In [ ]:
a=0
p=float('inf')
for i in range(12):
    num=int(input("Enter Numbers: "))
    if num>a:
        a=num
    if num<p:
        p=num
print("LARGEST NUMBER:  ",a)
print("SMALLEST NUMBER: ",p)

In [ ]:
print("welcome to the chilly chikky Restaurant \n ")
print(" Menu \n ")
print("1: PIZZA and the price is 200 \n")
print("2: HOT DOG and the price is 60\n")
print("3: BURGER and the price is 45\n")
price=0
choice= int(input("Kindly enter your choice "))
if (choice==1):
    print("some toppings you may add as: capsicum mushrooms paneer")
    toppings=input("kindly enter which topings you would like to add \n")
    if(toppings=="paneer"):
        price=200+70
        print("paneer pizza price would be ", price)
    if(toppings=="capsicum"):
        price=200+45
        print("capsicum pizza price would be ",price)
    if(toppings=="mushrooms"):
        price=200+60
        print("mushroom pizza price would be ", price)
elif(choice==2):
    print("some fillings you may add as: single cheeze paneer double layer cheese")
    fillings=input("kindly enter which fillings you would like to add \n")
    if(fillings== "single_cheeze_paneer" ):
        price=60+35
        print(" cheezy hot dog price would be ", price)
    elif(fillings=="double_layer_cheeze"):
        price=60+50
        print(" cheezyy hot dog price would be ", price)
elif(choice==3):
    print("some fillings you may add as: single cheeze paneer double layer cheese")
    fillings=input("kindly enter which fillings you would like to add \n")
    if(fillings== "single_cheeze_paneer" ):
            price=45+35
            print(" cheezy burger price would be ", price)
    elif(fillings=="double_layer_cheeze"):
            price=45+50
            print(" cheezyy burger price would be ", price)
else:
    print("enter valid choice")
soft=input("you wish to add softdrinks yes or not ")
final_p=price+85
print("cost will be ", final_p)

welcome to the chilly chikky Restaurant

 Menu

1: PIZZA and the price is 200

2: HOT DOG and the price is 60

3: BURGER and the price is 45

In [11]:
list = [1100,1101,1010,1001]
for i in list:
     if i % 5 == 0:
        print(i,end=',')

1100,1010,